<div id="receiptContent" hidden>
            <!-- This content lies the ambot uy kato jung resibo !-->
            <center>
                <br/><br/><br/>
               <b>Halo-Halo Drug Store</b><br/>
                San Vicente St., Bogo City, Cebu <br/>
                0926262626525
            </center>
            <br/><br/><br/>
            <div class="oID"></div>
            <br/><br/><br/>

            <div>Item&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Price&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Item Total</div>
            <br/>
            <template id="prodReceipt">
                <div class="receiptPName"></div>
                <div class="receiptPCat"></div>
                <div class="receiptPQuantity"></div>
                <br/><br/>
            </template>
            <div class="parentReceipt"></div>

            <br/><br/><br/>
            <div class="receiptSubTotal"></div>
            <div class="receiptDiscount"></div>
            <br/><br/><br/>
            <div class="receiptTotal"></div>
            <div class="receiptCash"></div>
            <div class="receiptChange"></div>
            <br/><br/><br/><br/><br/><br/>
            <center><div class="receiptGesture"></div></center>
</div>