@model neilApp.Models.Product

@{
    ViewData["Title"] = "Add Stocks";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    <form asp-action="AddStock">
        <input type="hidden" asp-for="Category" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Units" />
        <input type="hidden" asp-for="Price" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" name="cStock" value="@Model.Stock" />
        <input type="hidden" name="dateVal" value="@DateTime.Now">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="card-title">
                    <h5>@Model.Name</h5>
                    <br>
                    Current Stock : @Model.Stock
                </div>
                <hr/>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input type="number" placeholder="Input stocks to add" name="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>

<style>
    *
    {
        margin: 0;
        padding: 0;
    }

    body
    {
        background: linear-gradient(90deg, #22c1c3, #fdbb2d);
    }

    .card
    {
        padding: 10px;
        margin-top: 10px;

        opacity: 0.9;
    }

    .control-label
    {
        font-weight: bold;
    }
</style>